{% extends 'bases/template_base.html' %}
{% block title %} 701010 :: CONNECT YOUR BUSINESS {% endblock %}

{% block idbody %}id="{{infobranch.id_body}}"{% endblock idbody %}

{% block content %}	
{% load thumbnail %}
<div class="container customer">
	<div class="row">
		<div class="span4">
			<div id="logo">
		{% thumbnail infobranch.Logo "210x155" crop="50% center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{infobranch.Title}}">
        {% empty %}
        	<img src="{{ MEDIA_URL }}no_logo.jpg" alt="{{b.Title}}">
        {% endthumbnail %}
		</div>
		<div id="social_links">
			<a href="{{infobranch.facebook}}" id="fb" class="social-iconos" title=""></a>
			<a href="{{infobranch.gmail}}" id="gplus" class="social-iconos" title=""></a>
			<a href="{{infobranch.twitter}}" id="tw" class="social-iconos" title=""></a>
			<a href="{{infobranch.mail}}" id="mail" class="social-iconos" title=""></a>
		</div>
	</div>
	<div class="span8">
<h2>
{{infobranch.Title}}
</h2>
<p>
	{% autoescape off %}
		{{infobranch.Description}}
	{% endautoescape %}
	
</p>
	</div>
	</div>
<hr>
<div class="row">
	<div class="span8">
		{% autoescape off %}
		    {{infobranch.Video}}
		{% endautoescape %}
	</div>
	<div class="span4">

<div id="cupon">
<!-- 	 -->

<div id="formPhone">
	<div style="display:none;" id='cuponCont'>
	<img src="{{ MEDIA_URL }}{{infobranch.Coupon}}" alt="">
	</div>
	<div id="frmCont">
		<form action="." id="frmPhone" method="POST" accept-charset="utf-8">
			{% csrf_token %}
				<input type="hidden" id="idBranch" name="branch" value="{{infobranch.id}}" placeholder="">
				<p>
				<label for="">Insert your name:</label>
				<input id="idName" type="text" name="name"  placeholder="">
				</p>
				<p>
				<label for="">Phone:</label>
				<input id="idPhone" type="text" name="phone" placeholder="">
				</p>
				<input type="submit" id="btnPhone" name="" value="Submit">	
		</form>
	</div>
</div>

</div>


</div>
</div>
<hr>

{% if galery %}
<ul id="scroller" class="jcarousel jcarousel-skin-tango">
	{% for img in galery %}
		{% thumbnail img.Image "210x155" crop="50% center" as im %}
            <li><img class="logo_slide" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{img.Image_Title}}"></li>
        {% empty %}
        	<img src="{{ MEDIA_URL }}no_logo.jpg" alt="{{b.Title}}">
        {% endthumbnail %}
	{% endfor %}
</ul> 
{% endif %}

</div>
{% endblock %}

{% block footer_extrajs %}

<!-- estilos -->
{% if infobranch.background_img %}
	<style type="text/css">
		body{
			background:url({{ MEDIA_URL }}{{infobranch.background_img}}) repeat !important;
		}
	</style>
{% endif %}



	<script type="text/javascript" charset="utf-8" >
		var id_branch = "{{infobranch.id}}";

		$("#btnPhone").on("click",function(e){
			e.preventDefault();
			var _branch = $("#idBranch").val();
			var _name  = $("#idName").val();
			var _phone = $("#idPhone").val();
			var _url   = "{{ request.get_full_path }}";
			
			_name = "Roberto Urita";
			_phone = "8435474";

				$.post(_url, { 
					'branch':_branch,
					'name': _name,
					'phone': _phone,
					'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
					function(data) {
						if (data != "fail"){
								$("#frmCont").fadeOut();
								$("#cuponCont").fadeIn();
						}else{
							alert("The name or phone are incorrect");
						}
						
					}
				);
		});


	</script>
{% endblock footer_extrajs %}


